<h1>Cocktail Recipe</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, placeholder: 'Choose ingredients' %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
